@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.navbar {
  background-color: #282c34; /* Matching the header background */
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid rgba(122, 122, 122, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 5px 20px; /* Adjusted padding for better spacing */
}